@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


* {
  margin: 0px;
  padding: 0px;
  background-color: #BAF3F6;
}

body{
  font-family: "Inter", sans-serif;

}

main {
  margin-top: 116px;
  margin-left: 120px;
  margin-bottom: 110px;
}



img {
  object-fit: cover;
  width: 237px;
  height: 229px;
  border-radius: 150px;
  gap: 0;

}

h2 {
  font-size: 36px;
  text-align: left;
  color: #F587DD;

}

footer {
  margin: -8px;
  font-weight: bold;
  text-align: center;
  background: #D9D9D9;
  padding: 22px 22px;

}
